﻿
@{
    Layout = null; 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/CSS/MyCss.css" rel="stylesheet" />

</head>
<body>
    @RenderBody();
</body>
</html>
