﻿
@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = "Index";
}

﻿
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/CSS/MyCss.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="top_bar">

        <div class="main_bar">

            <div class="contact_left">

                <a class="ct1">
                    <i class="fa-solid fa-phone-volume"></i>
                    <b>0123.888.0123</b>(HN) - <b>0129.233.3555</b>(TP HCM)
                </a>

                <a class="ct2">Liên hệ quảng cáo</a>

                <button id="blike">
                    <i class="like-icon"></i>Like
                </button>

                <button id="bfollow">
                    <i class="follow-icon"></i>Follow
                </button>

                <button id="byoutube">
                    <i class="youtube-icon"></i>Youtube
                </button>
            </div>
            <div class="login_right">
                <button>Log in</button>
                <button>Register</button>
                <div class="search">
                    <input type="text" placeholder="Tìm Kiếm" class="search-input" />
                </div>

            </div>

        </div>

    </div>

    <div class="mid_img">

        <div class="main_img">
            <img src="~/Content/Image/Logo_Vnexpress.png" />

            <img src="~/Content/Image/banner-ads-1.png" />

            <img src="~/Content/Image/banner-ads-2.png" />
        </div>
    </div>

    <div class="mid_funct">

        <div class="main_funct">

            <div class="funct_left">
                <button id="home">
                    <i class="fa-solid fa-house"></i>
                </button>
                <button> <b>Thời sự</b></button>
                <button> <b>Thế giới</b></button>
                <button> <b>Kinh doanh</b></button>
                <button> <b>Giải trí</b></button>
                <button> <b>Thể thao</b></button>
                <button> <b>Pháp luật</b></button>
                <button> <b>Giáo dục</b></button>
                <button> <b>Sức khỏe</b></button>
                <button> <b>Gia đình</b></button>
                <button> <b>Du lịch</b></button>
                <button> <b>Khoa học</b></button>
                <button> <b>Số hóa</b></button>
                <button> <b>Xe</b></button>
                <button> <b>Cộng đồng</b></button>
                <button> <b>Tâm sự</b></button>
                <button> <b>Video</b></button>
                <button> <b>Cười</b></button>
                <button> <b>Rao vặt</b></button>
            </div>
        </div>
    </div>

    <div class="mid_body">

        <div class="main_body">

            <div class="firstpage">
                <h1>Trang nhất</h1>
            </div>

            <div class="img-left">
                <img src="~/Content/Image/thumnails.png" />
            </div>
            <div class="content">
                <p class="header_of_content">Trump và Clinton đối đầu nảy lửa trong tranh luận<br /> trực tiếp đầu tiên <button id="blive">LIVE</button> <button class="bcamera"></button> <button id="bcmt">80</button> </p>
                <p class="cmt_content">Hai ứng viên chạy đua chức tổng thống Mỹ Clinton và Trump tranh cãi<br /> nảy lửa trong hàng loạt vấn đề từ nhà đất, thương mại, đến cuộc chiến<br /> chống khủng bố...</p>
                <ul>
                    <li>Túi tiền tranh cử bà Clinton nặng gấp đôi tỷ phú Trump</li>
                </ul>
            </div>

            <div class="main_bodycenter">
                <a class="img-Ex">
                    <img src="~/Content/Image/unnamed.png" />
                    <h2>English</h2>
                    <div class="text-bcenter">
                        <p3>
                            <hr class="text1" id="hr1-color" />
                            Đài loan đóng cửa trường học <br /> vì bão Megi<hr />
                            Những đứa trẻ sống vắt vẻo <br />trên đầm cầu đã có chốn dung <br />thân
                            <hr />tại sao các đôi hoàn hảo vẫn<br /> ly dị<hr />
                            Ssangyong Korando - <br />crossover giá một tỷ tại Việt <br />Nam<hr />
                            Lỗ hổng IOS 10 giúp hacker<br /> giải mã bản sao lưu dễ dàng <hr class="text2" id="hr2-color" />
                        </p3>

                        <div class="right_below_content">
                            <p class="GN">Góc nhìn</p>
                            <p class="header_below_content">'Thất thủ'<br /> trước cơn mưa</p>
                            <img id="cat" src="~/Content/Image/meongungok.png" alt="mèo méo meo" />
                        </div>
                        <p class="content_below">Hàng triệu người bất lực trước<br /> một cơn mưa, hay còn bởi<br /> điều gì khác?</p>

                    </div>
                </a>
            </div>
            <div class="main_bodyend">
                <div class="date_time">
                    <p class="date">Thứ ba, 27/9/2016 | 09:16 GMT+7</p>
                    <p class="qua">24h qua</p>

                    <p class="RSS">
                        RSS
                        <img src="~/Content/Image/images.png" />
                    </p>
                </div>
                <div class="img-right">
                    <img src="~/Content/Image/right-ads-1.png" />
                    <img src="~/Content/Image/right-ads-2.png" />
                    <img src="~/Content/Image/right-ads-3.png" />
                </div>
            </div>
        </div>
    </div>

</body>
</html>

