﻿
@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.title = "Home-QuangCao";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.title</title>
</head>
<body>
    <div> 
        <h1>haahhaaahaha</h1>
    </div>
</body>
</html>
