﻿﻿body .top_bar {
    background-color: #808080;
}

body .top_bar .main_bar {
    background-color: white;
    width: 80%;
    margin: auto;
    display: flex;
}

    body .top_bar .main_bar .contact_left {
        background-color: white;
        display: flex;
        justify-content: flex-start;
        gap: 1px;
    }

.ct1 {
    position: relative;
}

.ct2 {
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    padding: 0 10px;
}

body .top_bar .main_bar .login_right {
    flex-grow: 5;
    width: 55px;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 3px;
}

.search {
    position: relative;
}

    .search::before {
        content: "";
        background-image: url('https://cdn-icons-png.flaticon.com/512/9479/9479251.png');
        width: 10px; /*chieu dai*/
        height: 10px; /* chieu rong */
        position: absolute;
        top: 50%;
        right: 5px; /* Điều chỉnh khoảng cách từ biên phải */
        transform: translateY(-50%);
        background-size: contain;
        background-repeat: no-repeat;
    }


#blike {
    background-size: cover;
    background-position: center;
    width: 80px;
    height: 25px;
    border-radius: 12px;
    color: transparent; /* Ẩn văn bản trong nút */
    position: relative;
    padding-left: 20px; /* Kích thước của logo + khoảng cách với văn bản */
    background-color: #1f40d8;
    border-color: #FF0000;
    color: white;
    border: none;
    cursor: pointer;
}

.like-icon {
    background-image: url('https://cdn-icons-png.flaticon.com/512/992/992481.png');
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 10px;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

#bfollow {
    background-size: cover;
    background-position: center;
    width: 80px;
    height: 25px;
    border-radius: 12px;
    color: transparent;
    position: relative;
    padding-left: 20px;
    background-color: #58aaee;
    border-color: #FF0000;
    color: white;
    border: none;
    cursor: pointer;
}

.follow-icon {
    background-image: url('https://cdn-icons-png.flaticon.com/512/3670/3670151.png');
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 10px;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

#byoutube {
    background-size: cover;
    background-position: center;
    width: 90px;
    height: 25px;
    border-radius: 12px;
    color: transparent;
    position: relative;
    padding-left: 20px;
    background-color: #FF0000;
    border-color: #FF0000;
    color: white;
    border: none;
    cursor: pointer;
}

.youtube-icon {
    background-image: url('https://cdn-icons-png.flaticon.com/512/3670/3670147.png');
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 10px;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

body .mid_img {
    background-color: white;
}

    body .mid_img .main_img {
        background-color: white;
        width: 80%;
        margin: auto;
        display: flex;
    }

        body .mid_img .main_img img {
            max-width: 415px; /* Đặt chiều rộng tối đa */
            max-height: 200px; /* Đặt chiều cao tối đa */
            width: auto; /* Giữ tỷ lệ khung hình */
            height: auto; /* Giữ tỷ lệ khung hình */
        }


body .mid_funct {
    background-color: white;
}

    body .mid_funct .main_funct {
        background-color: white;
        width: 80%;
        margin: auto;
        display: flex;
    }

        body .mid_funct .main_funct .funct_left {
            position: relative;
            display: flex;
            justify-content: flex-start;
            font-size: 1px;
            width: auto;
            height: 20px;
            white-space: nowrap;
        }


body .mid_body {
    background-color: white;
}

    body .mid_body .main_body {
        justify-content: flex-start;
        background-color: white;
        width: 80%;
        margin: auto;
        display: flex;
    }

        body .mid_body .main_body .firstpage {
            position: absolute;
            height: 80%;
            background-color: #e0d4d4;
            color: #c11313;
            display: flex;
            align-items: start;
            border-left: 3px solid #FF0000; /* Kích thước và màu sắc của đường kẻ dọc */
            height: 50px;
        }

h1 {
    font-size: 25px;
}

body .mid_body .main_body .img-left {
    border-right: 4px solid #FF0000;
    background-color: white;
    width: 80%;
    display: flex;
    padding-top: 50px;
    width: 530px;
    height: 310px;
}

body .img-left img {
    flex-wrap: wrap;
    border-top: 4px solid #FF0000;
    width: auto;
    height: auto;
    background-size: cover;
}

body .mid_body .main_body .content {
    position: absolute;
    display: flex;
    width: 80%;
    padding-top: 360px;
    flex-wrap: wrap;
}

body .mid_body .main_body .header_of_content {
    color: #9b2226;
    font-weight: bold;
    font-size: 1.3em;
    font-family: Arial;
    margin: 5px 0;
}

body .mid_body .main_body .cmt_content {
    position: absolute;
    padding-top: 40px;
    font-size: 1em;
    font-family: Arial;
    color: #403d39;
}

ul {
    position: absolute;
    padding-top: 98px;
    color: #403d39;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#blive {
    background-color: #9b2226;
    color: white;
    font-size: 0.4em;
    border: 0;
}

.bcamera {
    background-color: transparent;
    background-image: url('../images/camera.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    border: 0;
    transform: translateY(5px);
}

#bcmt {
    background-color: transparent;
    color: #9b2226;
    border: 0;
    padding-left: 20px;
    padding-top: 9px;
    background-image: url('../images/chat (2).png');
    background-repeat: no-repeat;
    background-position: left;
    transform: translateY(5px);
    text-align: right;
}




body .mid_body .main_bodycenter {
    flex-wrap: wrap;
    position: center;
    align-content: flex-start;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 1px;
}

h2 {
    color: #808080;
    font-size: 24px;
    position: absolute;
    top: 28%;
    left: 58%;
    transform: translate(-50%, -50%);
    font-weight: normal;
}

body .mid_body .main_bodycenter img {
    position: relative;
    max-width: 180px; /* Đặt chiều rộng tối đa */
    max-height: 40px; /* Đặt chiều cao tối đa */
    width: auto; /* Giữ tỷ lệ khung hình */
    height: auto; /* Giữ tỷ lệ khung hình */
    top: 5%;
    left: 65%;
    transform: translate(-50%, -50%);
    background-size: cover;
}

body main_body .text-bcenter {
    width: 80%;
    margin: auto;
    display: flex;
    top: 99%;
    left: 22%;
    transform: translate(-50%, -50%);
    font-size: 2px;
}

#hr1-color {
    background-color: #FF0000;
    color: #FF0000;
    height: 3px;
}

#hr2-color {
    background-color: #FF0000;
    color: #FF0000;
    height: 3px;
}





body .main_bodycenter .right_below_content {
    border-left: 4px solid #FF0000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 110px;
}

    body .main_bodycenter .right_below_content .GN {
        color: #9b2226;
        font-family: Arial;
        font-weight: bold;
        background: linear-gradient(to right, rgba(128,128,128,0.3) 0%, rgba(255,255,255,0.3) 100%);
        width: 50%;
        margin: 5px 0;
        padding: 10px;
    }

.header_below_content {
    width: 50%;
    font-family: Arial;
    font-weight: bold;
    margin: 0;
}

.content_below {
    border-left: 4px solid #FF0000;
    font-size: 0.9em;
    font-family: Arial;
    color: #534b52;
}

#cat {
    top: 50%;
    left: 8%;
    transform: translate(-50%, -50%);
    background-size: cover;
    display: flex;
}




body .mid_body .main_body .main_bodyend {
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0;
    align-content: flex-end;
}

    body .mid_body .main_body .main_bodyend .date_time {
        margin-left: 30px;
        display: flex;
        flex-wrap: nowrap;
    }

        body .mid_body .main_body .main_bodyend .date_time .date {
            padding: 0px 5px;
            margin: 5px;
        }

        body .mid_body .main_body .main_bodyend .date_time .qua {
            padding: 0px 5px;
            margin: 5px;
            height: 25px;
            background-color: #ced4da;
        }

        body .mid_body .main_body .main_bodyend .date_time .RSS {
            margin: 5px;
            background-color: #ced4da;
            font-weight: bold;
        }

            body .mid_body .main_body .main_bodyend .date_time .RSS img {
                height: 20px;
                background-position: right;
                background-repeat: no-repeat;
            }

            body .mid_body .main_body .main_bodyend .date_time .RSS p {
                top: 20px;
                left: 20px;
            }
